*, html, body {
  margin: 0;
  padding: 0;
}



.utama {
  display: flex;
  justify-content: center;
  padding: 25px;
  width: 100%;
  height: 110vh;
  background-image: url('belakang.jpg');
  background-size: cover;
  background-repeat: on-repeat;
}

.sampul {
  text-align: center;
}

.sampul > img {
  margin-top: 100px;
  margin-bottom: 15px;
  width: 165px;
  height: auto;
  border-radius: 50%;
  border: 2px;
  border-style: solid;
  border-color: hsl(126.8,17.4%,79.7%);
  
  
}

.sampul > h3 {
  font-family: "Times New Roman";
  padding-bottom: 18px;
  font-size: 2.6em;
  color: #ffffff;
}

.sampul > p {
  color: hsl(126.8,17.4%,79.7%);
  margin-bottom: 63px;
}

.btn > a {
  font-family: "Pixelify Sans";
  color: #ffff;
  text-decoration: none;
  background-image: linear-gradient(10deg, #E2BBE9, #7776B3);
  padding: 12px;
  margin-inline: 10px;
  border-radius: 5px;
  
}

fonts {
  color: #494949;
  font-size: 12px;
}